html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* setup snippet */
/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */

/* body styles */
html {
  scroll-behavior: smooth;
}

main {
  text-align: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

.appBackground {
  background-image:url(assets/dreamShareBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* landing page styles */
.top {
  padding-bottom: 15px;
  color: #232323;
  background: #fafafa;
  border: 8px solid #232323;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* /////////////////////////////////// */
/* text styles */
/* /////////////////////////////////// */
h1, 
h2,
label {
  font-family: 'Special Elite', cursive;
  text-transform: capitalize;
  white-space: initial;
}

form,
h1,
h3 {
  max-width:800px;
}

h1 {
  margin-top: 0;
  margin-bottom: 22px;
  padding-top: 5vh;
  font-size: 5.5rem;
}

h2 {
  padding-bottom: 11px;
  border-bottom: 2px solid #232323;
  word-wrap: break-word;
}

h3 {
  margin: 0 auto;
  margin-bottom: 55px;
  width: 80%;
  max-width: 700px;
}

label {
  font-size: 1.4rem;
}

.errorMessage {
  color: red;
  font-family: 'Roboto', sans-serif;
}

/* /////////////////////////////////// */
/* text styles */
/* /////////////////////////////////// */

/* /////////////////////////////////// */
/* form styles */
/* /////////////////////////////////// */

.dreamInput {
  display:block;
  margin: 11px auto;
  height: 25vh;
  width: 90%;
  max-width: 700px;
  resize: none;
  padding: 11px;
  font-family: 'Roboto', sans-serif;
}

.titleInput {
  width: 100%;
  max-width: 350px;
  padding: 11px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 22px;
  margin-top: 11px;
}

.titleInput:focus,
.dreamInput:focus {
  border: 8px solid #778899;
}

.addDream {
  margin-top: 20px;
  padding: 9px;
  border: 5px solid #232323;
  border-radius: 10px;
  font-family: 'Special Elite', cursive;
  background-color: white;
  font-size: 1.3rem;
  transition:transform 0.3s;
}

.addDream:hover,
.addDream:focus {
  background-color: #232323;
  color: #fafafa;
  transform: scale(1.05);
}

form input, 
form textarea {
  border: 8px solid #232323;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

/* /////////////////////////////////// */
/* form styles */
/* /////////////////////////////////// */

/* /////////////////////////////////// */
/* dynamic dream display styles */
/* /////////////////////////////////// */
.dreamDisplay {
  column-count: 3;
  column-width: 300px;
  column-gap:50px;
  padding-left: 0;
}

.returnDream {
  list-style: none;
  padding: 50px;
  max-width: 500px;
  margin: 0;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
  background-color: white;
  width:100% ;
  border: 8px solid #232323;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
}

.wrapper {
  width: 90vw;
  max-width: 1400px;
  margin: 0 auto;
}

.removeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #D3D3D3;
  font-size: 1.6rem;
}

.removeButton:hover,
.removeButton:focus {
  color: black;
}

.upVote {
  display: flex;
}

.voteButton {
  background-color: transparent;
  border: none;
}

.voteButton:hover {
  color: red;
}

.voteButton:focus {
  color: rgb(133, 21, 21);
}
/* /////////////////////////////////// */
/* dynamic dream display styles */
/* /////////////////////////////////// */

/* /////////////////////////////////// */
/* footer styles */
/* /////////////////////////////////// */
footer p {
  margin: 0;
  padding: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: #232323;
}

footer a {
  text-decoration: none;
  color: #232323;
  padding: 5px;
}

footer a:hover,
footer a:focus {
  padding-bottom: 2px;
  border-bottom: 3px solid #232323;
}

footer {
  border-top: 5px solid #232323;
  background: #fafafa;
}

footer .fa-angle-up {
  font-size: 50px;
}
/* /////////////////////////////////// */
/* dark mode */
/* /////////////////////////////////// */

/* dark mode toggle */

.themeToggle button {
  top: 0px;
  right: 0px;
  padding: 15px;
  background: #232323;
  border: none;
  position: fixed;
  font-size: 1.7rem;
  z-index: 10;
}

.themeToggle button:hover,
.darkMode .themeToggle button:hover,
.themeToggle button:focus,
.darkMode .themeToggle button:focus {
  background-color: gold;
}

.darkMode .themeToggle button {
  background: #fafafa;
}
.fa-sun {
  color: #232323;
}
.fa-moon {
  color: #fafafa;
}


/* main dark mode */
.darkMode .appBackground {
  background-image:url(assets/dreamShareBackgroundDark.jpg);
}
.darkMode .top {
  color: #fafafa;
  border: 8px solid #fafafa;
  background: #232323;
}
.darkMode h2,
.darkMode p {
  color: #fafafa;
}
.darkMode .errorMessage {
  color: red;
}
.darkMode .addDream {
  border: 5px solid #fafafa;
  background-color: #232323;
}
.darkMode .addDream:hover,
.darkMode .addDream:focus {
  background-color: #fafafa;
  color: #232323;
}
.darkMode form input, 
.darkMode form textarea {
  border: 8px solid #fafafa;
  background-color: #232323;
  color: #fafafa;
}
.darkMode form button {
  color: #fafafa;
}

/* dream display dark mode */
.darkMode h2 {
  border-bottom: 2px solid #fafafa;
}
.darkMode .returnDream {
  background-color: #232323;
  border: 8px solid #fafafa;
}
.darkMode .removeButton {
  color: #868686;
}
.darkMode .removeButton:hover,
.darkMode .removeButton:focus {
  color: #fafafa;
}
.darkMode .voteButton {
  color: #fafafa;
}
.darkMode .voteButton:hover {
  color: red;
}
.darkMode .voteButton:focus {
  color: rgb(241, 120, 120);
}

/* dark mode footer */
.darkMode footer p {
  color: #fafafa;
}
.darkMode footer a {
  color: #fafafa;
}
.darkMode footer a:hover {
  border-bottom: 3px solid #fafafa;
}
.darkMode footer {
  border-top: 5px solid #fafafa;
  background: #232323;
}