body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.returnDream {
  list-style: none;
  border: 3px solid black;
}

.errorMessage {
  color: red;
}

.dreamInput {
  display:block;
  margin: 0 auto;
  height: 100px;
  width: 50%;
  resize: none;
}

form input {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
